html { height: 100%; }
body {
    background-image: url('../images/pattern-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 250px;
    box-sizing: border-box;
    display: grid;
    font-family: 'Rubik', sans-serif;
    grid-template-rows: 250px 1fr;
    height: 100%;
    margin: 0;
}
main {
    display: fixed;
}

main .container {
    display: grid;
    justify-items: center;
    row-gap: 1.5em;
    padding: 1em;
}

h1 {
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.input-group {
    display: flex;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
    justify-content: center;
    width: 80%;
}

input, button {
    border: 0;
    padding: 1em;
    margin: 0;
}

input[type='text'] {
    border-radius: 14px 0 0 14px;
    font-size: 18px;
    width: 100%;
}

button {
    place-items: center;
    display: grid;
    background-color: hsl(0, 0%, 17%);
    border-radius: 0 14px 14px 0;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    height: 58px;
    width: 58px;
}

#mapid {
    z-index: 1;
}

.card {
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 2em;
    padding: 2em;
    width: 90%;
    z-index: 2;

}

h3, h5 {
    margin: 0;
    word-break: break-all;
}

.card .row h5 {
    color: hsl(0, 0%, 59%);
    font-weight: 500;
    text-transform: uppercase;
}

.card .row h3 {
    font-weight: 500;
}

.card .row {
    display: grid;
    row-gap: 1em;
}

.card .row:not(:last-of-type) {
    border-right: 1px solid hsl(0, 0%, 59%);
}

@media screen and (min-width: 1440px) {
    .input-group {
        width: 40% !important;
    }

    .card {
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {
    .card {
        grid-template-columns: 1fr;
        text-align: center;
        width: 70%;
        gap: 1em
    }

    .card .row {
        border-right: 0 !important;
    }
}